body{
    background-color: 		#583cd7;
}

.img_corpo{
    width: 35%;
}

.container{
    width: 80%;
    margin: auto;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
}
p{
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 40px;
}  